# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Uploads
uploads/*

# ChromaDB
vector_db/*

# OS
.DS_Store
Thumbs.db